body {
    background: url(../img/texture-noise.png);
    font-family:"Josefin Sans", "Helvetica Neue", Helvetica;
    overflow: hidden;
}

/*Bootstrap navbar*/
.navbar{
  background: linear-gradient(141deg, #FF8F21 0%, #FFA021 51%, #FFAE21 75%);
}

.navbar-brand{
}

#toggle-icon{
  content:url(../img/icon4.png);
  width:2rem;
  height:2rem;
}

/*Page layout*/
.page {
    padding-top: 3.5rem;
    height: 100vh;
    width: auto;
    /*background-color: #66bfc4;*/
}

.page-1 {
    height: 100%;
    /*background-color: #c4667a;*/
}

.chart {
  height: calc(100% - 3.25rem);
  /*background-color: #c4c166;*/
}

.chart-head {
  height: 4.5rem;
  /*background-color: #8d66c4;*/
}

/*D3 chart style*/
#chart-1 {
    height: calc(100% - 4.5rem);
    width: auto;
    display: block;
    /*margin: auto;*/
    /*background-color: #b93619;*/
}

/*.node circle {
    fill: #FF9E21;
}*/

.node text {
    font: 20px 'Josefin Sans';
}

.links line {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    /*stroke-width: 1.5px;*/
}
